{% extends 'base.html' %}

{% block app_content %}
    <h1>About the Outpost Calculator</h1>
    
    Card calculator for Outpost board game
    
    <h2>Outpost board game</h2>
    The Outpost board game is described by <a href="https://boardgamegeek.com/boardgame/1491/outpostsold">Board Game Geek</a>, and 
    sold by <a href="https://smile.amazon.com/Stronghold-Games-2003SG-Outpost/dp/B005J2RYZS/ref=smi_www_rco2_go_smi_5171374337?_encoding=UTF8&SubscriptionId=AKIAJQZPVL52RDH5YIQQ&camp=2025&creative=165953&creativeASIN=B005J2RYZS&ie=UTF8&linkCode=xm2&tag=itemtext-boardgamegeek-20">Amazon</a>. 
    
    <h2>Why does it need a calculator?</h2>
    
    <p>An Amazon review states "This game is rather math-heavy, so that might turn people off. The math is simple, but there can be a lot of it. "(<a href="https://smile.amazon.com/gp/customer-reviews/RKEAVJZU1VHRK/ref=cm_cr_dp_d_rvw_ttl?ie=UTF8&ASIN=B005J2RYZS">review by BozemanPhil</a>)</p>

    <p>At the start of each round, each player draws cards according to the resources they have developed. These cards each have an number between 1 and 100, and the sum of these cards is a player's "buying power" for that round.</p>
    
    <p>Each round, the player must add up his/her cards to determine his/her buying power before making purchases. This gets tiresome, especially considering:
    <ul>
        <li>No change is given for purchases, so players are motivated to find an exact mix of cards that equal the purchase price.</li>
        <li>There is a limit of cards that a player can hold in his/her hand. This motivates players to spend as many cards as possible per purchase (e.g. spend cards with values 1,4,5,7,8 instead of spending a single card with value 25).</li>
    </ul>
    </p>

    <p>Early in the game, a player has less than 10 cards per round. This isn't an unreasonable burden. Late in the game, however, a player can have up to 30 cards. This is when the arithmetic becomes a burden to the players, and the pace of play slows dramatically. Wouldn't it be nice if we had a calculator that could do all the math for us?</p>
    
    <h2>How does the calculator work?</h2>
    <p>After logging in, a single text box is presented with a Submit button. Enter your card values in the box, and use periods to separate each card. For example, if your hand is 1,4,5,7,8 then you will enter 1.4.5.7.8 and click Submit. The calculator will show:
        <ul>
            <li>All possible totals using these cards</li>
            <li>For each total, the list of cards that yield the total using the maximum count of cards</li>
            <li>For each total, the list of unused cards and their total value</li>
        </ul>

    





















{% endblock %}
