{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello, {{ current_user.username.capitalize() }}!</h1>

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if totals %}
    <div style="height: 25px"></div>
    <table class="table table-hover">
        <tr>
            <th width="175px">Totals</th>
            <th>Cards</th>
        </th>
        {% for tot in totals %}
        <tr>
            <td>total = {{ tot }}<br>unused total = {{ totals[tot]['unused_total'] }}</td>
            <td>used cards = {{ totals[tot]['used_cards'] }}<br>unused cards = {{ totals[tot]['unused_cards'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <strong>{{ brag }}</strong>
    {% endif %}

{% endblock %}