{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.cards.label }}<br>
            {{ form.cards(size=128) }}
            {% for error in form.cards.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if totals %}
    <table style="border: 1px solid black;">
        <tr>
            <th>Total</th>
            <th>Unused Total</th>
            <th>Used Cards</th>
            <th>Unused Cards</th>
        </th>
        {% for tot in totals %}
        <tr>
            <td>{{ tot }}</td>
            <td>{{ totals[tot]['unused_total'] }}</td>
            <td>{{ totals[tot]['used_cards'] }}</td>
            <td>{{ totals[tot]['unused_cards'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}